<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ylxx.cloud.upms.org.mapper.OrgMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="orgVo">
        <id column="id" property="id" />
        <result column="parent_id" property="parentId" />
        <result column="org_name" property="orgName" />
        <result column="org_code" property="orgCode" />
        <result column="org_type" property="orgType" />
        <result column="phone" property="phone" />
        <result column="fax" property="fax" />
        <result column="location" property="location" />
        <result column="remarks" property="remarks" />
        <result column="status" property="status" />
        <result column="province" property="province" />
        <result column="city" property="city" />
        <result column="county" property="county" />
        <result column="sort_no" property="sortNo" />
        <result column="create_by" property="createBy" />
        <result column="create_time" property="createTime" />
        <result column="update_by" property="updateBy" />
        <result column="update_time" property="updateTime" />
    </resultMap>
    
	<!-- 通用查询映射结果扩展 -->
    <resultMap id="BaseResultMapExt" extends="BaseResultMap" type="orgVo">
    	<!-- 说明：关联其他表查询，多出来的字段映射写在此处，另外OrgVO也要加上对应的属性 -->
    	
    </resultMap>
    

	<select id="selectPageVo" resultMap="BaseResultMapExt" parameterType="orgDto">
		select
			T1.id,
			T1.parent_id,
			T1.org_name,
			T1.org_code,
			T1.org_type,
			T1.phone,
			T1.fax,
			T1.location,
			T1.remarks,
			T1.status,
			T1.province,
			T1.city,
			T1.county,
			T1.sort_no,
			T1.create_by,
			T1.create_time,
			T1.update_by,
			T1.update_time
		from
			t_base_org T1
		<where>
			<if test="param.id != null and param.id != ''">AND T1.id = #{param.id}</if>
			<if test="param.parentId != null and param.parentId != ''">AND T1.parent_id = #{param.parentId}</if>
			<if test="param.orgName != null and param.orgName != ''">AND T1.org_name = #{param.orgName}</if>
			<if test="param.orgCode != null and param.orgCode != ''">AND T1.org_code = #{param.orgCode}</if>
			<if test="param.orgType != null and param.orgType != ''">AND T1.org_type = #{param.orgType}</if>
			<if test="param.phone != null and param.phone != ''">AND T1.phone = #{param.phone}</if>
			<if test="param.fax != null and param.fax != ''">AND T1.fax = #{param.fax}</if>
			<if test="param.location != null and param.location != ''">AND T1.location = #{param.location}</if>
			<if test="param.remarks != null and param.remarks != ''">AND T1.remarks = #{param.remarks}</if>
			<if test="param.status != null and param.status != ''">AND T1.status = #{param.status}</if>
			<if test="param.province != null and param.province != ''">AND T1.province = #{param.province}</if>
			<if test="param.city != null and param.city != ''">AND T1.city = #{param.city}</if>
			<if test="param.county != null and param.county != ''">AND T1.county = #{param.county}</if>
			<if test="param.sortNo != null and param.sortNo != ''">AND T1.sort_no = #{param.sortNo}</if>
			<if test="param.createBy != null and param.createBy != ''">AND T1.create_by = #{param.createBy}</if>
			<if test="param.createTime != null and param.createTime != ''">AND T1.create_time = #{param.createTime}</if>
			<if test="param.updateBy != null and param.updateBy != ''">AND T1.update_by = #{param.updateBy}</if>
			<if test="param.updateTime != null and param.updateTime != ''">AND T1.update_time = #{param.updateTime}</if>
			<if test="param.orgCodeQuery != null and param.orgCodeQuery != ''">AND T1.org_code like concat('%', #{param.orgCodeQuery}, '%')</if>
			<if test="param.username != null and param.username != ''">
				and T1.id IN (SELECT org_id FROM t_base_rel_user_org WHERE user_id in ( select id from t_base_user where username = #{param.username} ) )
			</if>
			<if test="param.orgCodes != null and param.orgCodes.size() > 0">
				and t1.org_code IN
				<foreach collection="param.orgCodes" item="item" index="index" open="(" separator="," close=")">
					#{item}
				</foreach>
			</if>
			<if test="param.orgTypes != null and param.orgTypes != ''">AND FIND_IN_SET(T1.org_type,#{param.orgTypes})</if>
		</where>
	</select>

	<insert id="insertBatch" parameterType="list">
		insert into t_base_org
		( 
			id,
			parent_id,
			org_name,
			org_code,
			org_type,
			phone,
			fax,
			location,
			remarks,
			status,
			province,
			city,
			county,
			sort_no,
			create_by,
			create_time,
			update_by,
			update_time
		) 
		values 
		<foreach collection="list" item="item" index="index" separator=",">
            (
				#{item.id},
				#{item.parentId},
				#{item.orgName},
				#{item.orgCode},
				#{item.orgType},
				#{item.phone},
				#{item.fax},
				#{item.location},
				#{item.remarks},
				#{item.status},
				#{item.province},
				#{item.city},
				#{item.county},
				#{item.sortNo},
				#{item.createBy},
				#{item.createTime},
				#{item.updateBy},
				#{item.updateTime}
			)
        </foreach>
	</insert>

</mapper>
